<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="./main.css">
<body>

    <section class="section-wrap">
            <p class="about-text">
                Tradition and love
            </p>
            <h2 class="about-title">
                HOW IT'S MADE?
            </h2>
            <div class="about-box" >
                        <div class="left">
                            <img src="./img/home-pic4 1.png" alt="">
                        </div>
                        
                        <div class="right">
                            <p class="right-text">
                                Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas
                                eros.
                                Maecenas eleifend erat at justo fringilla.
                            </p>
                            <p class="right-text-bottom">
                                Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
                                placerat.
                                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                        
                        
                                Aliquam erat volutpat. Aenean accumsan.
                            </p>
                        <button type="button" class="about-btn">
                            read more
                        </button>
                        </div>
            </div>


        
    </section>
</body>
</html>